.ui.card.scenario__card {
    width: 80%;
    max-width: 500px;
}

.ui.card.scenario__card--run {
    width: 93vw;
    min-height: 85vh;
    max-width: 500px;
    margin-top: 2vh;
}

.ui.card.scenario__card--run-hidden {
    visibility: hidden;
}

.scenario__card .scenario__card--button {
    padding: 5% 40% 2% 40%;
}

.ui.card.scenario__card--run .scenario__card--button {
    position: absolute;
    bottom: 0;
    padding: 10% 40%;
}

.scenario__slide-preview-pane {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 73vh !important;
    padding: 1px !important;
    border: 0 !important;
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
}

.scenario__slide-preview--selected {
    border: 1px solid gold !important;
}
