.ui.card.scenario__card {
  width: 80%;
  max-width: 500px;
}

.scenario__slide-preview {
  margin-bottom: 1em !important;
}

.ui.card.scenario__slide-card {
  font-size: 16px;
  width: 93vw;
  /*
    top nav has height of 47px
    font-size is 12px
    border of 1px
    ----------------
    60px
  */
  min-height: calc(100vh - 60px);
  max-width: 500px;
  margin-top: 2vh;
}

.ui.card.scenario__slide-card.unset-position {
  position: unset !important;
}

.ui.card.scenario__slide-card-preview {
  font-size: 16px;
  width: 93vw;
  /*
    top nav has height of 47px
    tabs has height of 47px
    editor menu has height of 45px
    + padding and margins
    ----------------
    180px
  */
  min-height: calc(100vh - 180px);
  max-width: 500px;
  margin-top: 2vh;
}

.ui.card.scenario__slide-card .scenario__slide-card-header,
.ui.card.scenario__slide-card .scenario__slide-card-header-preview,
.ui.card.scenario__slide-card-preview .scenario__slide-card-header,
.ui.card.scenario__slide-card-preview .scenario__slide-card-header-preview {
  flex-grow: 0 !important;
}

.ui.card.scenario__slide-card .scenario__slide-card-content {
  overflow-y: auto;
  height: calc(100vh - 180px) !important;
}

.ui.card.scenario__slide-card .scenario__slide-card-content-lobby {
  overflow-y: auto;
  height: calc(100vh - 195px) !important;
}

.ui.card.scenario__slide-card .scenario__slide-card-content-preview {
  overflow-y: auto;
  height: calc(100vh - 120px) !important;
}

.ui.card.scenario__slide-card-hidden {
  visibility: hidden;
}

.scenario__card .scenario__card--button {
  padding: 5% 40% 2% 40%;
}

.ui.card.scenario__slide-card .scenario__card--button {
  position: absolute;
  bottom: 0;
  padding: 10% 40%;
}

.scenario__slide-preview-viewport {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 167px) !important;
  padding: 1px !important;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
}

.scenario__slide-card-preview-selected > .scenario__slide-card-preview {
  border: 1px solid gold !important;
}

@media only screen and (max-width: 767px) {
  /*.ui.centered.card.scenario__slide-card {}*/

  .scenario__slide-column {
    padding: 0 0.25em 0 0 !important;
  }

  .scenario__slide-column > .ui.card.scenario__slide-card {
    box-shadow: unset !important;
    min-height: calc(100vh - 80px);
    margin-left: 0em !important;
    margin-right: 0em !important;
    width: calc(100% - 0.2em) !important;
  }
}
