.sortable__outer-container {
    width:100%!important;
}



/*.sortable__inner-column-left {
    float: left!important;
    width: 10%!important;
    display: inline-block!important;
}

.sortable__inner-column-right {
    float: left!important;
    width: 90%!important;
    display: inline-block!important;
}
*/
