/*
Previously, this file defined:
.sortable__outer-container {
    width:100%!important;
}
*/
.sortable__draggable-outer-container {}

.sortable__draggable-outer-container > div {
    margin-bottom: 0.5em!important;
}

.sortable__selected {
    border: 0px;
    box-shadow: 0 1px 3px 0 gold, 0 0 0 1px gold !important;
}

.draggable {
  margin-bottom: 1em !important;
  margin-left: 1px !important;
  margin-top: 1px !important;
}
