/*.sc__edit-buttons {
  width: 100%;
}
*/
.ui.buttons > .sc__button {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  background-color: transparent !important;
}
.ui.buttons > .sc__button:hover {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.ui.card.sc__margin-height {
  /* this height will fit 2 rows on a MBP */
  min-height: 22em !important;
}

.ui.four.cards {
  /*margin-left: -.5em !important;*/
  margin-left: -0.35em !important;
  margin-right: -0.5em !important;
}

.ui.four.cards > .card {
  width: calc(25% - 1em) !important;
  margin-bottom: 0 !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.ui.card.sc .header {
  max-height: 2.5em !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  /*white-space: nowrap !important;*/
  overflow-wrap: anywhere !important;
}

.ui.card.sc .content {
  display: flex;
  flex-direction: column;
}

.ui.card .sc__status {
  color: #000 !important;
  font-size: 0.9rem !important;
  font-weight: bold;
  margin-bottom: 1rem !important;
  text-align: right;
}

.ui.card .sc__status i {
  margin-right: 0.5rem !important;
}

.ui.card .sc__time {
  font-weight: bold;
}

.ui.card.sc .header {
  font-size: 1.5rem !important;
}

.ui.card.sc .description {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  overflow-y: auto !important;
}

.ui.card.sc .sc__footer {
  margin-top: auto;
}

/*
.ui.card.sc .extra.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ui.card>.content:after, .ui.cards>.card>.content:after {
  display: none !important;
}
*/

.ui.card.sc a {
  color: rgba(0, 0, 0, 0.87);
}

.deleted {
  opacity: 0.5 !important;
}

.strike {
  text-decoration: line-through !important;
}

.sc__modal-description {
  max-height: 50vh !important;
  overflow-y: scroll !important;
}

.sc__cursor-pointer {
  cursor: pointer;
}

.ui.card.sc .labels {
  /* This will fit two rows of labels before it starts scrolling */
  max-height: 4em;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal .actions .sc__card-action-labels {
  margin-left: 0.5rem !important;
  display: inline-block;
}

@media not all and (max-width: 1100px) {
  .sc__card-action-labels {
    margin-left: 0.5rem !important;
    display: inline-block;
  }
  .modal .actions .sc__card-action-labels {
    margin-left: 0.5rem !important;
    display: inline-block;
  }
}

@media only screen and (max-width: 767.98px) {
  .sc__hidden-on-mobile {
    display: none !important;
  }

  .ui.stackable.cards > .card.sc.sc__margin-height {
    width: calc(100% - 1em) !important;
  }
}

.sl__menu-tools {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.sl__menu--search-no {
  font-weight: bold;
}

.labels__item p {
  margin-bottom: 0;
}

.labels .active.item {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

.labels .active.item span {
  color: #fff !important;
}

/*.ui.borderless.icon.em__height.menu > .right.sl__menu > .item {
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}

.ui.borderless.icon.em__height.menu > .right.sl__menu > .item:last-child {
  padding-right: 0em !important;
  padding-left: 0.5em !important;

}

.ui.borderless.icon.em__height.menu > .right.sl__menu > .item:last-child > .dropdown {
  padding-left: 0.5em !important;
}

.ui.borderless.icon.em__height.menu > .right.sl__menu > .item:last-child > .dropdown:hover {
  background-color: transparent !important;
}*/
