/*.sc__edit-buttons {
  width: 100%;
}
*/
.ui.basic.button.sc__button:hover {
  background-color: #cacbcd !important;
}

.ui.card.sc__margin-height {
  height: 19rem !important;
  margin-bottom: 0 !important;
}

.ui.four.cards {
  /*margin-left: -.5em !important;*/
  margin-left: -0.35em !important;
  margin-right: -.5em !important;
}

.ui.four.cards>.card {
  width: calc(25% - 1em) !important;
  margin-bottom: 0 !important;
  margin-left: .5em !important;
  margin-right: .5em !important;
}

.ui.card.sc .header {
  max-height: 2.5em !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  /*white-space: nowrap !important;*/
  overflow-wrap: anywhere !important;
}
.ui.card.sc .description {
  /*4rem !important;*/
  /*max-height: 10rem !important;*/
  height: 9.25rem !important;
  max-height: 9.25rem !important;
  overflow-y: auto !important;
}

.scenarios__menu-item--padding {
  padding: 0.428571em 1.14285714em !important;
}

.deleted {
  opacity: 0.5 !important;
}

.strike {
  text-decoration: line-through !important;
}

.sc__cursor-pointer {
  cursor: pointer;
}

.sc__card-action-labels {
  display: none;
}

.modal .actions .sc__card-action-labels {
  margin-left: 0.5rem !important;
  display: inline-block;
}

@media not all and (max-width: 1100px) {
  .sc__card-action-labels {
    margin-left: 0.5rem !important;
    display: inline-block;
  }
  .modal .actions .sc__card-action-labels {
    margin-left: 0.5rem !important;
    display: inline-block;
  }
}
