.scenario__entry--edit-buttons {
    width: 100%;
}

.ui.basic.button.scenario__entry--button:hover {
    background-color: #cacbcd !important;
}

.ui.card.scenario__entry {
    margin: 1rem auto;
}

.scenario__entry--description {
    max-height: 10rem !important;
    overflow-y: auto !important;
}
