.mpr__button-label {
  width: 10rem !important;
  margin-right: 0.5rem !important;
}


.mpr__thead-background {
  background: rgb(245, 245, 245) !important;
  -webkit-box-shadow: -1px -1px 0 1px rgb(245, 245, 245) !important;
  box-shadow: -1px -1px 0 1px rgb(245, 245, 245) !important;
}

.mpr__cursor-grab {
  cursor: grab !important;
}

.mpr__slide-preview-constraint {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

.mpr__title-constraint {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.mpr__goto-slide-constraint {
  width: 240px !important;
  min-width: 240px !important;
  max-width: 240px !important;
}

.vis-button {
  display: inline-block;
  opacity: 0.5;
  color: black;
  margin: 0 0.25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-size: 1.5em;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.vis-button:hover {
  box-shadow: unset !important;
  opacity: 0.75;
}
.vis-button:active {
  box-shadow: unset !important;
  opacity: 1;
}

.vis-up {
  background-image: unset !important;
  bottom: 55px !important;
  left: 45px !important;
}
.vis-up:before {
  content: "\f077";
  /*content: "\f139";*/
}

.vis-down {
  background: unset !important;
  bottom: 5px !important;
  left: 45px !important;
}
.vis-down:before {
  content: "\f078";
  /*content: "\f13a";*/
}

.vis-left {
  background: unset !important;
  bottom: 30px !important;
  left: 20px !important;
}
.vis-left:before {
  content: "\f053";
  /*content: "\f137";*/
}

.vis-right {
  background: unset !important;
  bottom: 30px !important;
  left: 70px !important;
}
.vis-right:before {
  content: "\f054";
  /*content: "\f138";*/
}

.vis-zoomIn {
  background: unset !important;
}
.vis-zoomIn:before {
  content: "\f067";
  /*content: "\f055";*/
}

.vis-zoomOut {
  background: unset !important;
}
.vis-zoomOut:before {
  content: "\f068";
  /*content: "\f056";*/
}

.vis-zoomExtends {
  background: unset !important;
}
.vis-zoomExtends:before {
  content: "\f065";
}

