.c__scrolling-tbody {
  display: block;
  height: 231px;
  min-height: 143px;
  overflow: auto;
}

.c__list-num {
  font-weight: bold;
}

.c__table-container {
  margin-bottom: 1rem;
}

.c__section {
  margin: 0 auto 3rem auto;
  /*max-width: 70rem;*/
}

.c__scenario-header-num span {
  font-weight: bold;
}

.c__cohort-url .ui.button {
  display: block;
  margin-top: 0.5rem;
}

.c__cohort-url .ui.input input[type="text"] {
  width: 100%;
}

.c__participant-card {
  align-items: center;
  display: grid !important;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100% !important;
  padding: 1em 1em;
}

.c__participant-card>.content {
  border-top: none !important;
}

.c__scenario-card {
  align-items: center;
  display: grid !important;
  grid-column-gap: 1rem;
  grid-template-columns: 3fr 1fr;
  width: 100% !important;
}

.c__participant-card .meta:not(:empty),
.c__scenario-card .meta:not(:empty) {
  margin-top: 1rem;
}

.c__participant-card.ui.card .meta *,
.c__scenario-card.ui.card .meta * {
  margin-bottom: 0.5rem;
}

.c__scenario-extra {
  padding: 1rem;
}

.c__scenario-extra button {
  width: 100%;
}

.c__participant-list,
.c__scenario-list {
  padding: 0;
  height: 390px;
  overflow-y: scroll;
}

.c__scenario-list > div {
  margin-bottom: 0.5em !important;
}

.c__scenario-cards {
  padding: 0;
  height: calc(100vh / 3.75);
  overflow-y: scroll;
}

.c__scenario-cards > div {
  margin-bottom: 0.5em !important;
}

.c__scenario-cards-selected {
  text-align: left !important;
  padding-bottom: 1rem;
}

.c__scenario-selector-content {
  padding: 1rem !important;
}

.c__scenario-container {
  background-color: var(--color-gray);
  padding: 1rem;
}

@media only screen and (max-width: 767px) {
  .ui.container.c__table-container {
    width: auto !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }

  .c__scenario-card {
    display: block !important;
  }

  .c__participant-card {
    display: block !important;
  }
}

.c__table-thead-tbody-tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.c__button--transparent {
  background: none !important;
}

.c__button-group--transparent {
  background: none !important;
}

.c__button--spacing {
  padding-top: 0rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0.5rem !important;
  margin: 0 !important;
}

.cohorts__menu-item--padding {
  padding: 0.428571em 1.14285714em !important;
}

.c__table--constraints {
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;
}

.c__table-cell-first {
  width: 40px;
  text-overflow: unset !important;
}

.c__table-cell-options {
  width: 15rem !important;
  padding: 0.18571429em 0.78571429em !important;
}

.c__table-cell-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.card.c__margin-height {
  min-height: 18em !important;
}

@media only screen and (max-width: 767px) {
  .c__table-cell-options {
    width: 7rem !important;
    padding: 0.18571429em 0.78571429em !important;
  }
  .c__table-cell-content {
    display: none !important;
  }
  .c__hidden-on-mobile {
    display: none !important;
  }

  .ui.stackable.cards > .card.sc.c__margin-height {
    width: calc(100% - 1em) !important;
  }
}

.c__table--search {
  margin-left: 0.5rem !important;
}

.c__table-cell--title-button {
  background: none;
}

.c__tab-menu--overflow {
  overflow-x: auto;
  overflow-y: hidden;
}
.c__tab-menu--overflow::-webkit-scrollbar {
  height: 2px !important;
}

.c__tab-menu--button-transparent {
  background-color: none !important;
  margin: -2.5em 0 !important;
}

.wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-modal__header {
  padding: 1rem;
  text-align: center;
}

.c__scenario-cards--selected .ui.card {
  border: 2px solid #753656 !important;
}

.c__wizard-share-link {
  margin: 2rem 0;
}

.c__wizard-share-link > .ui.input {
  margin-bottom: 1rem;
}

.c-action-btns__scenario-selector {
  bottom: -1rem;
  position: sticky;
  z-index: 100;
}

.c__wizard-scenario-card {
  display: flex !important;
  flex-direction: column;
}

.c__wizard-scenario-card__meta {
  margin-top: auto;
}

.c__scenario-participant-header {
  margin-bottom: 1rem !important;
}

.c__participant-card__responses {
  width: 100% !important;
}

.c__participant-list > .ui.card.c__participant-card {
  margin: 0.5rem 0 !important;
}

.c__participant-status span {
  font-weight: bold;
}

.c__participant-completion__group {
  margin: 1rem 0 !important;
}

.c__participant-completion__subhed {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.c__participant-completion__scenarios-completed span {
  font-weight: bold;
}
