.c__scrolling-tbody {
  display: block;
  height: 231px;
  min-height: 143px;
  overflow: auto;
}

.c__list-num {
  font-weight: bold;
}

.c__table-container {
  margin-bottom: 1rem;
}

.c__section {
  margin: 0 auto 3rem auto;
  max-width: 70rem;
}

.c__scenario-header-num span {
  font-weight: bold;
}

.c__cohort-url .ui.button {
  display: block;
  margin-top: 0.5rem;
}

.c__cohort-url .ui.input input[type="text"] {
  width: 100%;
}

.c__scenario-card {
  align-items: center;
  display: grid !important;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr;
  width: 100% !important;
}

.c__scenario-card .meta:not(:empty) {
  margin-top: 1rem;
}

.c__scenario-card.ui.card .meta * {
  margin-bottom: 0.5rem;
}

.c__scenario-extra {
  padding: 1rem;
}

.c__scenario-extra button {
  width: 100%;
}

.c__scenario-list {
  padding: 0;
}

.c__scenario-container {
  background-color: var(--color-gray);
  padding: 1rem;
}

@media only screen and (max-width: 767px) {
  .ui.container.c__table-container {
    width: auto !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }

  .c__scenario-card {
    display: block !important;
  }
}

.c__table-thead-tbody-tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.c__button--transparent {
  background: none !important;
}

.c__button-group--transparent {
  background: none !important;
}

.c__button--spacing {
  padding-top: 0rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0.5rem !important;
  margin: 0 !important;
}

.cohorts__menu-item--padding {
  padding: 0.428571em 1.14285714em !important;
}

.c__table--constraints {
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;
}

.c__table-cell-first {
  width: 40px;
  text-overflow: unset !important;
}

.c__table-cell-options {
  width: 15rem !important;
  padding: 0.18571429em 0.78571429em !important;
}

.c__table-cell-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 767px) {
  .c__table-cell-options {
    width: 7rem !important;
    padding: 0.18571429em 0.78571429em !important;
  }
  .c__table-cell-content {
    display: none !important;
  }
  .c__hidden-on-mobile {
    display: none !important;
  }
}

.c__table--search {
  margin-left: 0.5rem !important;
}

.c__table-cell--title-button {
  background: none;
}

.c__tab-menu--overflow {
  overflow-x: auto;
  overflow-y: hidden;
}
.c__tab-menu--overflow::-webkit-scrollbar {
  height: 2px !important;
}

.c__tab-menu--button-transparent {
  background-color: none !important;
  margin: -2.5em 0 !important;
}

.wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
