.dtm__view {
  height: 100% !important;
  width: calc(100% - 1em) !important;
  margin: -0.5em 0.5em 0.5em 0.5em !important;
}

.dtm__header {
  padding: 1.25rem 1.5rem 1.5rem 1.5rem !important;
}

.ui.fullscreen.modal.dtm__view {
  width: calc(100% - 1em) !important;
}

.dtm__scroll {
  height: 90vh !important;
  padding: 0rem !important;
}

.dtm__scroll tbody td {
  min-width: 100px;
  overflow: visible !important;
  overflow-wrap: break-word;
  white-space: inherit !important;
  text-overflow: unset !important;
}

.dt__cell-data-missing {
  background-image: linear-gradient(
    to top right,
    transparent calc(50% - 1px),
    #e0e6eb,
    transparent calc(50% + 1px)
  );
}

.gridcolumn__first-child--sticky {
  min-width: 40% !important;
}

.gridcolumn__first-child--sticky div:first-child {
  position: sticky;
  top: 0;
  margin-top: 1px;

}

.dtm__grid-nowrap {
  flex-wrap: nowrap !important;
}

.dt__left-col-hidden {
  display: none !important;
}

.dtm__scroll .dt__scroll {
  max-width: 100%;
  max-height: 90vh;
  overflow: scroll;
  position: relative;
  margin-bottom: 1rem;
  padding-top: 0 !important;
}

.dt__scroll {
  max-width: 100%;
  max-height: 72vh;
  overflow: auto;
  position: relative;
  margin-bottom: 1rem;
  padding-top: 0 !important;
}

.dt__scroll th:last-child,
.dt__scroll td:last-child {
  border-right: 1px solid rgba(34,36,38,.15) !important;
}

.dtm__view .dt__scroll {
  width: unset;
  overflow-y: auto !important;
  overflow-x: unset !important;
}

.dt__scroll table {
  table-layout: fixed;
  position: relative;
  border-collapse: collapse;
  border: unset !important;
}

.dt__scroll td,
.dt__scroll th {
  padding: .78571429em .78571429em;
  min-width: 150px;
  max-width: 250px;
}

.dt__scroll td:nth-child(2) {
  border-left: 1px transparent !important;
}


.dt__scroll thead th {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  border-top: 1px solid rgba(34, 36, 38, .1) !important;
  border-left: 1px solid rgba(34, 36, 38, .1) !important;
  border-right: none !important;
}

.dt__scroll thead th:first-child.dt__scrollable-th,
.dt__scroll thead th.dt__scrollable-th {
  overflow: unset !important;
  white-space: unset !important;
  text-overflow: none !important;
  overflow-y: scroll !important;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 200px;
  vertical-align: top !important;
  text-align: left !important;
}



.dt__scroll thead th:first-child {
  left: 0;
  z-index: 1;
  vertical-align: middle !important;
  text-align: center !important;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  border-right: 1px solid rgba(34, 36, 38, .1) !important;
  border-left: 1px solid rgba(34, 36, 38, .1) !important;
}

.dt__scroll thead th:nth-child(2) {
  border-left: none !important;
}

.dt__scroll tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  vertical-align: middle;
  text-align: center;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  background: rgb(249, 250, 251);
  border-right: 1px solid rgba(34, 36, 38, .1) !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  border-left: 1px solid rgba(34, 36, 38, .1) !important;
}

.dt__scroll tbody td {
  border-top: none !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}


