/*.c__container-modal {
  max-height: 100vh;
  margin-bottom: 1rem;
  padding-top: 0 !important;
}*/

#c__send-icon {
  fill: var(--color-primary);
}

/* cc = chat composer */
.cc__container-outer {
  /*position: absolute;*/
  max-height: calc(100vh / 2) !important;
  /*bottom: 0;*/
}

.cc__container-outer .sun-editor button {
  color: rgba(0,0,0,.6) !important;
}

.cc__container-inner {
  height: 500px;
  overflow-y: scroll;
}

/* cm = chat messages */
.cm__container-outer {
  height: 200px;
  height: auto;
  margin-bottom: 1rem;
  padding-top: 0 !important;
}

.cm__container-inner {
  height: 200px;
  overflow-y: scroll;
  position: relative;
}

.cm__centered {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 80%;
  margin-top: -50px;
}

/* cmm = chat messages message */
.cmm__content img {
  width: 100% !important;
}

.cmm__content .actions {
  float: right;
  position: relative;
  visibility: hidden;
}


.cmm__content:hover .actions {
  visibility: visible;
}

.c__container-modal > .ui.header>i.icon+.content {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  min-width: 316px !important;
  width: unset !important;
  max-width: calc((100vw / 2.99) - 100px) !important;
}

.c__container-modal-minmax {
  background: unset!important;
}

.c__container-modal > .hidden {
  left: -100vw !important;
  position: absolute;
  visibility: hidden;
}

.c__container-modal > .visible {
  visibility: visible;
  left: unset !important;
  position: unset !important;
}

.c__container-modal > div.ui.header.handle > i.icon {
  font-size: 1em !important;
}

/* Mobile */
@media only screen and (max-width: 767.98px) {
  .cm__container-inner {
    height: 150px;
    overflow-y: scroll;
    position: relative;
  }

  .c__container-modal {
    bottom: 0;
    top: unset !important;
    margin-bottom: unset !important;
    min-width: unset !important;
    border: none !important;
    width: 100% !important;
    left: 0 !important;
  }

  .c__container-modal.ui.modal>.close {
    top: 0rem!important;
    opacity: 1;
  }
}

/* Non-mobile */
@media only screen and (min-width: 768px)  {
  .c__container-modal {
    /* minimum width before the toolbar wraps */
    min-width: 410px !important;
    width: calc(100vw / 2.99) !important;
  }

  .c__container-modal.ui.modal>.close {
    top: 0.5rem!important;
    opacity: 1;
  }
}

