/*.c__container-modal {
  max-height: 100vh;
  margin-bottom: 1rem;
  padding-top: 0 !important;
}*/

#c__send-icon {
  fill: var(--color-primary);
}

/* cc = chat composer */
.cc__container-outer {
  /*position: absolute;*/
  max-height: calc(100vh / 2) !important;
  /*bottom: 0;*/
}

.cc__container-outer .sun-editor button {
  color: rgba(0,0,0,.6) !important;
}

.cc__container-inner {
  height: 500px;
  overflow-y: scroll;
}

/* cm = chat messages */
.cm__container-outer {
  height: 200px;
  height: auto;
  margin-bottom: 1rem;
  padding-top: 0 !important;
}

.cm__container-inner {
  height: 200px;
  overflow-y: scroll;
  position: relative;
}

.cm__centered {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 80%;
  margin-top: -50px;
}

/* cmm = chat messages message */
.cmm__content img {
  width: 100% !important;
}

.cmm__content .actions {
  float: right;
  position: relative;
  visibility: hidden;
}


.cmm__content:hover .actions {
  visibility: visible;
}

@media only screen and (max-width: 767.98px) {
  .cm__container-inner {
    height: 150px;
    overflow-y: scroll;
    position: relative;
  }

  .c__container-modal {
    bottom: 0;
    top: unset !important;
    margin-bottom: 1em !important;
  }
}

@media only screen and (min-width: 768px)  {
  .c__container-modal {
    /*min-width: 460px !important;*/
    width: calc(100vw / 4) !important;
  }
}

