.ms__table--constraints {
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;
}

.ms__table-cell-first {
  width: 40px !important;
  text-overflow: unset !important;
}

.ms__table-cell-options {
  width: 15rem !important;
}

.ms__table-cell-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.ms__table-thead-tbody-tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
*/
.buttongroup__transparent {
  background: none !important;
}

@media only screen and (max-width: 767px) {
  .ms__hidden-on-mobile {
    display: none !important;
  }
}
