#nav {
  /*margin-top: 0.5em!important;*/
  margin-top: 0 !important;
  margin-bottom: 0.5em !important;
  border: unset !important;
  box-shadow: unset !important;
}

@media not all and (max-device-width: 767px) {
  .ui.fluid.button.nav__mobile {
    display: none;
  }
}

@media not all and (min-width: 767px) {
  .ui.fluid.button.nav__mobile {
    display: block;
  }
}

.ui.menu .item.navigation__menu-item-logo {
  padding: 0px;
}

.ui.menu .item.navigation__menu-item-logo a {
  padding: 10px;
  background-image: env(--DCSS_BRAND_LOGO);
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -999em;
  min-width: 130px;
  background-position-x: center;
}

.navigation__dropdown {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  z-index: 1;
}

.navigation__dropdown a:first-child {
  padding: 0px !important;
}

.navigation__dropdown a:first-child,
.navigation__dropdown a:first-child:hover {
  background: transparent !important;
}

.navigation__dropdown-mobile {
  padding-left: 0em !important;
  /*padding-right: 0em !important;*/
}

.ui.menu .active.item {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  font-weight: bold !important;
}
