@media not all and (max-device-width: 767px) {
    .ui.fluid.button.nav__mobile {
        display: none;
    }
}

@media not all and (min-width: 767px) {
    .ui.fluid.button.nav__mobile {
        display: block;
    }
}

.ui.menu .item.navigation__menu-item-logo {
    padding: 0px;
}

.ui.menu .item.navigation__menu-item-logo a {
    padding: 10px;
    background-image: url('../static/images/MIT-TSL-Logo-Icons.png');
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -999em;
    min-width: 130px;
    background-position-x: center;
}
