blockquote.at__blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-left: 0.5rem solid #ccc;
}

audio {
  height: 42px;
  margin-top: 0.75em;
}

.ar__button {
  background: transparent !important;
}

.ar__button .microphone {
  transform: translateX(-53%) translateY(-50%) !important;
}


.blink {
  -webkit-animation: 1s linear infinite blinking_record_led; /* for Safari 4.0 - 8.0 */
  animation: 1s linear infinite blinking_record_led;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes blinking_record_led {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes blinking_record_led {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}


.ar__instruction {
  font-size: 12px !important;
}
