.editor__component-pane {
    flex-wrap: nowrap !important;
}

.editor__component-layout-pane-outer {
    padding-top: 1em;
    min-width: 530px !important;
    width: 530px !important;
    max-width: 530px !important;
}

.editor__component-select-pane-outer {
    padding-top: 1em;
    min-width: 240px !important;
    width: 240px !important;
    max-width: 240px !important;
    padding-left: 0px !important;
}

.editor__component-select-pane-outer > .icon {
    border: 1px solid red !important;
    font-size: 1em!important;
    float: none !important;
    margin: 0 .75em 0 0!important;
}

.editor__component-layout-pane {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh !important;
    padding: 1px !important;
    border: 0 !important;
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
}

.responserecall__margin-bottom {
    margin-bottom: 1rem !important;
}

