.editor__component-layout-pane {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh !important;
    padding: 1px !important;
    border: 0 !important;
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
}

.editor__component-selected {
    border: 1px solid gold !important;
}
