.mbr__button-label {
  width: 10rem !important;
  margin-right: 0.5rem !important;
}


.mbr__thead-background {
  background: rgb(245, 245, 245) !important;
  -webkit-box-shadow: -1px -1px 0 1px rgb(245, 245, 245) !important;
  box-shadow: -1px -1px 0 1px rgb(245, 245, 245) !important;
}

.mbr__cursor-grab {
  cursor: grab !important;
}
