@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


.dashboard {
  --border-bottom: 1px solid #c1c1b0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 80rem;
  padding: 1.5rem;
}

.dashboard .ui.divider.top {
  margin-bottom: 3em;
}

.dashboard .ui.fluid.container>.ui.divider {
  margin-bottom: 2.5em;
}

.dashboard .ui.segment {
  background-color: var(--green-beige);
  color: var(--dark-green);
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

.dashboard .ui.segment a {
  color: var(--dark-green);
}

.dashboard h1 {
  border-bottom: var(--border-bottom);
}

.dashboard-container {
  display: grid;
  grid-gap: 3rem;
}

.dashboard-sidenav {
  display: none;
}

.dashboard .ui.header {
  color: #174650;
  font-weight: 800;
  margin-bottom: 1.25rem;
}

.dashboard h2.ui.header {
  font-size: 1.5rem;
}

.dashboard h1.ui.header {
  font-size: 2rem;
}

@media only screen and (min-width: 50em) {
  .dashboard-sidenav {
    align-self: start;
    background-color: var(--green-beige);
    border-radius: 5px;
    padding: 1rem;
    position: sticky;
    top: 1rem;
  }

  .dashboard-container {
    grid-template-columns: 1fr 3fr;
  }
}

.dashboard-sidenav {
  border-radius: 10px;
}

.dashboard-sidenav .ui.menu.vertical.text .item.dashboard-sidenav__subtitle,
.dashboard-sidenav .ui.menu.vertical.text .item a {
  font-size: 1.1em;
  line-height: 1.25em;
  color: #174650;
}

.dashboard-sidenav .ui.menu.vertical.text .item.dashboard-sidenav__subtitle {
  font-weight: normal;
  margin: 0;
}

.dashboard-sidenav .item a {
  font-weight: bold;
  text-decoration-line: underline;
  text-underline-offset: 0.4em;
}

.dashboard-main {
  display: grid;
  grid-gap: 5rem;
}

.dashboard-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
}

.ui.ordered.list.dashboard-list {
  margin-left: 0;
  margin-bottom: 3rem;
  color: var(--dark-green);
}

.ui.ordered.list.dashboard-list>.item::before {
  background-color: #f5f5f5;
  content: counter(ordered);
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: -2.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  opacity: 1;
}

.dashboard-list .item {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 1rem 0 1rem 2.5rem;
}

.dashboard-list .item a.dashboard-list__title {
  display: block;
  color: var(--dark-green);
  text-decoration-line: underline;
  text-underline-offset: 4px;
  margin-bottom: .5rem;
}

.dashboard-grid .dashboard-card {
  font-size: 1.1rem;
  height: 100%;
  width: 100% !important;
  padding: 1.5rem !important;
}

.dashboard-card-group .ui.card.dashboard-card {
  padding: .5rem !important;
  font-size: 1.1rem !important;
}

.dashboard-card__link {
  font-weight: bold;
  margin-top: auto;
}

.dashboard-card__title, .dashboard-list__title {
  font-weight: bold;
}

.dashboard .container h2.ui.header {
  font-size: 1.25em;
}

.dashboard-subheader,
.ui.header {
  color: var(--dark-green);
}

.dashboard-subheader {
  font-size: 1.1em;
}

.dashboard-cta {
  background-color: var(--green-beige);
  border: 1px solid #d7d7bf;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1.5rem
}

.dashboard-empty {
  background-color: #f6f6f6;
  border: var(--border-bottom);
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1.5rem
}

.dashboard-section-header {
  display: flex;
  align-items: center;
}

.dashboard-section-header h2.ui.header {
  flex-grow: 5;
  margin-bottom: 0;
}

.dashboard-section-header .ui.button {
  border-radius: 10px;
  padding: 10px;
}

.dashboard-section-header a {
  padding: .5em 0;
  color: #174650;
  font-weight: bold;
  text-decoration-line: underline;
  margin-left: 1em;
}

.ui.card .dashboard-button-group a {
  background-color:  #fff !important;
  border: var(--border-bottom) !important;
}
