.em__height {
  min-height: 45px !important;
}

.em__icon-group-margin {
  margin-right: 0.5rem!important;
}

.em__search-input-box-right {
  padding-right: 0 !important;
}

.em__sticky {
  z-index: 1;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.em__fullwidth /* minus left and right padding + margin */ {
  width: calc(100vw - 30px) !important;
}

.ui.segment > .em__fullwidth /* minus left and right padding + margin */ {
  width: calc(100vw - 30px) !important;
}


@media only screen and (max-width: 767px) {
  .em__height input {
    width: 12rem;
  }
}


.em__overflow-truncated {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
