#root {
  /*margin: 0.5em 0.5em 0 0.5em;*/
  margin: 0 0.5em 0 0.5em;
  height: 100vh;
  --color-gray: #f2f2f2;
  --color-primary: #853D61;
}

/*.ui.primary.buttons,
.ui.primary.button {
  background-color: #853D61 !important;
  color: #fff  !important;
}

*/
i.primary.icon.icon.icon.icon {
  color: #853D61 !important;
}
.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'],
.ui.form select:focus,
.ui.form textarea {
  font-size: 1em !important;
}

.ui.segment {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ui.segment:first-child {
  margin-top: 0 !important;
}

.ui.menu {
  /*margin: 0.5rem 0 !important;*/
}

.ui.borderless.icon.menu > .item,
.ui.borderless.icon.menu > .right > .item {
  padding: 0em 1em !important;
}

.ui.menu:first-child,
.ui.menu[class*='top attached']:first-child {
  margin-top: 0 !important;
}

.ui[class*='top attached'].menu {
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
}

.ui.modal > .close {
  top: 1.0535rem !important;
  right: 1rem !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.modal > .actions {
  /* TODO: determine if this is still necessary
  min-height: 75px !important;
  */
 border-radius: .28571429rem;
}

.ui.modal > .actions .message {
  padding: 0.75em 1.5em !important;
}

td .ui.fluid.selection.dropdown > .text {
  width: 150px !important;
  max-width: 150px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.ui.borderless.icon.menu > .right > .item:last-child {
  padding-right: 0.5em !important;
}

.ui.borderless.icon.menu > .menu.movers.right > .item:last-child,
.menu.movers.right > .item:last-child {
  padding-left: 0.5em !important;
  padding-right: 1em !important;
}

/*.ui.form .field>label {
  font-size: 1em !important;
}
*/
@media only screen and (max-width: 767px) {
  #root {
    width: calc(100vw - 21px) !important;
  }

  .ui.menu .item > .input input:not([type]),
  .ui.menu .item > .input input[type='date'],
  .ui.menu .item > .input input[type='datetime-local'],
  .ui.menu .item > .input input[type='email'],
  .ui.menu .item > .input input[type='file'],
  .ui.menu .item > .input input[type='number'],
  .ui.menu .item > .input input[type='password'],
  .ui.menu .item > .input input[type='search'],
  .ui.menu .item > .input input[type='tel'],
  .ui.menu .item > .input input[type='text'],
  .ui.menu .item > .input input[type='time'],
  .ui.menu .item > .input input[type='url'],
  .ui.menu .item > .input select:focus,
  .ui.menu .item > .input textarea {
    font-size: 1.14286em !important;
  }

  .ui.form input:not([type]),
  .ui.form input[type='date'],
  .ui.form input[type='datetime-local'],
  .ui.form input[type='email'],
  .ui.form input[type='file'],
  .ui.form input[type='number'],
  .ui.form input[type='password'],
  .ui.form input[type='search'],
  .ui.form input[type='tel'],
  .ui.form input[type='text'],
  .ui.form input[type='time'],
  .ui.form input[type='url'],
  .ui.form select:focus,
  .ui.form textarea {
    font-size: 1.14286em !important;
  }

  .ui.modal {
    top: 1rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }

  .ui.bottom.attached.segment {
    padding: 0.5em 0 0 0 !important;
    border: unset !important;
  }

  .ui.buttons > .or {
    background: red;
    display: none;
  }
  .ui.fluid.buttons > .button {
    width: 100%;
  }

  .ui.fluid.buttons,
  .ui.fluid.buttons > .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .ui.fluid.buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ui.fluid.buttons .button {
    display: block;
    float: none;
    width: 100%;
    margin: 0px 0px 0px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0em;
  }

  .ui.fluid.buttons .button:first-child {
    border-top-left-radius: 0.28571429rem;
    border-top-right-radius: 0.28571429rem;
  }

  .ui.fluid.buttons .button:last-child {
    margin-bottom: 0px;
    border-bottom-left-radius: 0.28571429rem;
    border-bottom-right-radius: 0.28571429rem;
  }

  .ui.fluid.buttons .button:only-child {
    border-radius: 0.28571429rem;
  }

  .ui.grid {
    margin-top: 0rem !important;
  }
}

button {
  cursor: pointer;
}

.ui.basic.button, .ui.basic.buttons .button {
  border: 1px solid currentColor;
}

.ui.basic.button span, .ui.basic.buttons .button span {
  color: #000;
}

.grid__container {
  margin-top: 3rem !important;
}

.grid__main {
  min-height: calc(100vh - 82px) !important;
  height: 100%;
  background-color: var(--color-gray);
}

.grid__sidebar {
  padding-top: 0 !important;
}

.grid__header {
  margin-bottom: 1rem;
}

.grid__menu {
  margin-bottom: 2rem;
}

.grid__menu-search {
  width: 100%;
}

.grid__bottom-row {
  top: unset;
  bottom: 0 !important;
  position: absolute;
}



.ui.primary.buttons .button,
.ui.primary.button {
  background-color: #853D61 !important;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
}

.ui.primary.button {
  -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
}

.ui.primary.buttons .button:hover,
.ui.primary.button:hover {
  background-color: #753656 !important;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.primary.buttons .button:focus,
.ui.primary.button:focus {
  background-color: #753656 !important;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.primary.buttons .button:active,
.ui.primary.button:active {
  background-color: #753656 !important;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.primary.buttons .active.button,
.ui.primary.buttons .active.button:active,
.ui.primary.active.button,
.ui.primary.button .active.button:active {
  background-color: #753656 !important;
  color: #FFFFFF;
  text-shadow: none;
}

/* Basic */

.ui.basic.primary.buttons .button,
.ui.basic.primary.button {
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px #853D61 inset !important;
  box-shadow: 0 0 0 1px #853D61 inset !important;
  color: #853D61 !important;
}

.ui.basic.primary.buttons .button:hover,
.ui.basic.primary.button:hover {
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px #753656 inset  !important;
  box-shadow: 0 0 0 1px #753656 inset !important;
  color: #753656;
}

.ui.basic.primary.buttons .button:focus,
.ui.basic.primary.button:focus {
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px #753656 inset;
  box-shadow: 0 0 0 1px #753656 inset;
  color: #753656;
}

.ui.basic.primary.buttons .active.button,
.ui.basic.primary.active.button {
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px #753656 inset;
  box-shadow: 0 0 0 1px #753656 inset;
  color: #753656;
}

.ui.basic.primary.buttons .button:active,
.ui.basic.primary.button:active {
  -webkit-box-shadow: 0 0 0 1px #753656 inset;
  box-shadow: 0 0 0 1px #753656 inset;
  color: #753656;
}

.ui.buttons:not(.vertical) > .basic.primary.button:not(:first-child) {
  margin-left: -1px;
}

/* Inverted */

.ui.inverted.primary.buttons .button,
.ui.inverted.primary.button {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 2px #753656 inset;
  box-shadow: 0 0 0 2px #753656 inset;
  color: #753656;
}

.ui.inverted.primary.buttons .button:hover,
.ui.inverted.primary.button:hover,
.ui.inverted.primary.buttons .button:focus,
.ui.inverted.primary.button:focus,
.ui.inverted.primary.buttons .button.active,
.ui.inverted.primary.button.active,
.ui.inverted.primary.buttons .button:active,
.ui.inverted.primary.button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFFFFF;
}

.ui.inverted.primary.buttons .button:hover,
.ui.inverted.primary.button:hover {
  background-color: #753656 !important;
}

.ui.inverted.primary.buttons .button:focus,
.ui.inverted.primary.button:focus {
  background-color: #753656 !important;
}

.ui.inverted.primary.buttons .active.button,
.ui.inverted.primary.active.button {
  background-color: #753656 !important;
}

.ui.inverted.primary.buttons .button:active,
.ui.inverted.primary.button:active {
  background-color: #753656 !important;
}

/* Inverted Basic */

.ui.inverted.primary.basic.buttons .button,
.ui.inverted.primary.buttons .basic.button,
.ui.inverted.primary.basic.button {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) inset;
  color: #FFFFFF;
}

.ui.inverted.primary.basic.buttons .button:hover,
.ui.inverted.primary.buttons .basic.button:hover,
.ui.inverted.primary.basic.button:hover {
  -webkit-box-shadow: 0 0 0 2px #753656 inset;
  box-shadow: 0 0 0 2px #753656 inset;
  color: #753656;
}

.ui.inverted.primary.basic.buttons .button:focus,
.ui.inverted.primary.basic.buttons .button:focus,
.ui.inverted.primary.basic.button:focus {
  -webkit-box-shadow: 0 0 0 2px #753656 inset;
  box-shadow: 0 0 0 2px #753656 inset;
  color: #753656;
}

.ui.inverted.primary.basic.buttons .active.button,
.ui.inverted.primary.buttons .basic.active.button,
.ui.inverted.primary.basic.active.button {
  -webkit-box-shadow: 0 0 0 2px #3ac0ff inset;
  box-shadow: 0 0 0 2px #3ac0ff inset;
  color: #753656;
}

.ui.inverted.primary.basic.buttons .button:active,
.ui.inverted.primary.buttons .basic.button:active,
.ui.inverted.primary.basic.button:active {
  -webkit-box-shadow: 0 0 0 2px #753656 inset;
  box-shadow: 0 0 0 2px #753656 inset;
  color: #753656;
}

/* Tertiary */

.ui.tertiary.primary.buttons .button,
.ui.tertiary.primary.buttons .tertiary.button,
.ui.tertiary.primary.button {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #853D61;
}

.ui.tertiary.primary.buttons .button:hover,
.ui.tertiary.primary.buttons button:hover,
.ui.tertiary.primary.button:hover {
  -webkit-box-shadow: inset 0 -0.2em 0 #ac2b7f;
  box-shadow: inset 0 -0.2em 0 #ac2b7f;
  color: #ac2b7f;
}

.ui.tertiary.primary.buttons .button:focus,
.ui.tertiary.primary.buttons .tertiary.button:focus,
.ui.tertiary.primary.button:focus {
  -webkit-box-shadow: inset 0 -0.2em 0 #a3366d;
  box-shadow: inset 0 -0.2em 0 #a3366d;
  color: #a3366d;
}

.ui.tertiary.primary.buttons .active.button,
.ui.tertiary.primary.buttons .tertiary.active.button,
.ui.tertiary.primary.active.button,
.ui.tertiary.primary.buttons .button:active,
.ui.tertiary.primary.buttons .tertiary.button:active,
.ui.tertiary.primary.button:active {
  -webkit-box-shadow: inset 0 -0.2em 0 #cf0067;
  box-shadow: inset 0 -0.2em 0 #cf0067;
  color: #753656;
}

.ui.steps .step.active .title {
  color: #853D61 !important;
}

.ui.primary.labels .label,
.ui.ui.ui.primary.label {
  background-color: #853D61 !important;
  border-color: #853D61 !important;
  color: rgba(255,255,255,.9);
}

.ui.list .list>.item a.header.primary,
.ui.list>.item a.header.primary {
    cursor: pointer;
    color: #853D61!important;
}

.ui.list .list>.item>a.header.primary:hover,
.ui.list>.item>a.header.primary:hover {
    color: #753656!important;
}
