#root {
  /*margin: 0.5em 0.5em 0 0.5em;*/
  margin: 0 0.5em 0 0.5em;
  height: 100vh;
  --color-gray: #f2f2f2;
  --color-primary: #2185d0;
}

.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'],
.ui.form select:focus,
.ui.form textarea {
  font-size: 1em !important;
}

.ui.segment {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ui.segment:first-child {
  margin-top: 0 !important;
}

.ui.menu {
  /*margin: 0.5rem 0 !important;*/
}

.ui.borderless.icon.menu > .item,
.ui.borderless.icon.menu > .right > .item {
  padding: 0em 1em !important;
}

.ui.menu:first-child,
.ui.menu[class*='top attached']:first-child {
  margin-top: 0 !important;
}

.ui[class*='top attached'].menu {
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
}

.ui.modal > .close {
  top: 1.0535rem !important;
  right: 1rem !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.modal > .actions {
  min-height: 75px !important;
}

.ui.modal > .actions .message {
  padding: 0.75em 1.5em !important;
}

td .ui.fluid.selection.dropdown > .text {
  width: 150px !important;
  max-width: 150px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.ui.borderless.icon.menu > .right > .item:last-child {
  padding-right: 0.5em !important;
}

.ui.borderless.icon.menu > .menu.movers.right > .item:last-child,
.menu.movers.right > .item:last-child {
  padding-left: 0.5em !important;
  padding-right: 1em !important;
}

/*.ui.form .field>label {
  font-size: 1em !important;
}
*/
@media only screen and (max-width: 767px) {
  #root {
    width: calc(100vw - 21px) !important;
  }

  .ui.menu .item > .input input:not([type]),
  .ui.menu .item > .input input[type='date'],
  .ui.menu .item > .input input[type='datetime-local'],
  .ui.menu .item > .input input[type='email'],
  .ui.menu .item > .input input[type='file'],
  .ui.menu .item > .input input[type='number'],
  .ui.menu .item > .input input[type='password'],
  .ui.menu .item > .input input[type='search'],
  .ui.menu .item > .input input[type='tel'],
  .ui.menu .item > .input input[type='text'],
  .ui.menu .item > .input input[type='time'],
  .ui.menu .item > .input input[type='url'],
  .ui.menu .item > .input select:focus,
  .ui.menu .item > .input textarea {
    font-size: 1.14286em !important;
  }

  .ui.form input:not([type]),
  .ui.form input[type='date'],
  .ui.form input[type='datetime-local'],
  .ui.form input[type='email'],
  .ui.form input[type='file'],
  .ui.form input[type='number'],
  .ui.form input[type='password'],
  .ui.form input[type='search'],
  .ui.form input[type='tel'],
  .ui.form input[type='text'],
  .ui.form input[type='time'],
  .ui.form input[type='url'],
  .ui.form select:focus,
  .ui.form textarea {
    font-size: 1.14286em !important;
  }

  .ui.modal {
    top: 1rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }

  .ui.bottom.attached.segment {
    padding: 0.5em 0 0 0 !important;
    border: unset !important;
  }

  .ui.buttons > .or {
    background: red;
    display: none;
  }
  .ui.fluid.buttons > .button {
    width: 100%;
  }

  .ui.fluid.buttons,
  .ui.fluid.buttons > .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .ui.fluid.buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ui.fluid.buttons .button {
    display: block;
    float: none;
    width: 100%;
    margin: 0px 0px 0px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0em;
  }

  .ui.fluid.buttons .button:first-child {
    border-top-left-radius: 0.28571429rem;
    border-top-right-radius: 0.28571429rem;
  }

  .ui.fluid.buttons .button:last-child {
    margin-bottom: 0px;
    border-bottom-left-radius: 0.28571429rem;
    border-bottom-right-radius: 0.28571429rem;
  }

  .ui.fluid.buttons .button:only-child {
    border-radius: 0.28571429rem;
  }

  .ui.grid {
    margin-top: 0rem !important;
  }
}

button {
  cursor: pointer;
}

.ui.basic.button, .ui.basic.buttons .button {
  border: 1px solid currentColor;
}

.ui.basic.button span, .ui.basic.buttons .button span {
  color: #000;
}

.grid__container {
  margin-top: 3rem !important;
}

.grid__main {
  min-height: calc(100vh - 82px) !important;
  height: 100%;
  background-color: var(--color-gray);
}

.grid__sidebar {
  padding-top: 0 !important;
}

.grid__header {
  margin-bottom: 1rem;
}

.grid__menu {
  margin-bottom: 2rem;
}

.grid__menu-search {
  width: 100%;
}
