#root {
  margin: 0.5em 0.5em 0 0.5em;
  height: 100vh;
}

.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'],
.ui.form select:focus,
.ui.form textarea {
    font-size: 1em !important;
}

.ui.segment {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

.ui.segment:first-child {
   margin-top: 0 !important;
}

.ui.menu {
  /*margin: 0.5rem 0 !important;*/
}

.ui.borderless.icon.menu>.item,
.ui.borderless.icon.menu>.right>.item {
  padding: 0em 1em !important;
}

.ui.menu:first-child,
.ui.menu[class*="top attached"]:first-child
 {
  margin-top: 0 !important;
}

.ui[class*="top attached"].menu {
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
}


.ui.modal>.close {
  top: 1.0535rem !important;
  right: 1rem !important;
  color: rgba(0,0,0,.87) !important;
}
