.editor__content {
  /*height: 100% !important;*/
  /*height: 90vh !important;*/
  height: calc(100vh - 100px) !important;
  width: calc(100vw - 1em) !important;
  min-width: 951px !important;
  padding: 0.5em 0.5em 0 0.5em !important;
  margin-bottom: 0 !important;
}

.editor__tabmenu {
  min-width: 951px !important;
  width: calc(100vw - 1em) !important;
}

.editor__righttitle {
  font-weight: bold !important;
  max-width: 550px !important;
  overflow:  hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
