.slides__list-row {
    margin: 1em 0;
}

.slides__list-row:first-of-type {
    margin: 3px 0 0 0;
}

.slides__list-row-selected {
    border: 1px solid gold !important;
}

.slides__list-inner-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 61vh;
    padding: 0 5px 0 1px !important;
    border: 0 !important;
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
}

.slides__list-outer-container {
    min-width: 261px !important;
}
