.cohort__scrolling-tbody {
    display: block;
    height: 197px;
    min-height: 143px;
    overflow: auto;
}

.cohort__table-container {
    margin-bottom: 1rem;
}

.cohort__table-thead-tbody-tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.cohort__table-cell-first {
    width: 40px;
}

.cohort__button--transparent {
    background: none !important;
}

.cohort__button-group--transparent {
    background: none !important;
}

.cohort__button--spacing {
    padding-top: 0rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0.5rem !important;
    margin: 0 !important;
}

.cohort__menu-item--padding {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.cohort__table--constraints {
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
}

.cohort__table-cell--description {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 767px) {
    .cohort__table-cell--description {
        display: none !important;
    }
}

.cohort__table--search {
    margin-left: 0.5rem !important;
}

.cohort__table-cell--title-button {
    background: none;
}

.cohort__tab-menu--overflow {
    overflow-x: auto;
    overflow-y: hidden;
}

.cohort__tab-menu--button-transparent {
    background-color: none !important;
    margin: -2.5em 0 !important;
}

.wrapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
