.datatablemodal__view {
    height: 90%;
}
.datatablemodal__scroll {
    max-height: 50rem !important;
}
.datatable__scroll {
    padding-top: 0 !important;
    position: relative;
    width: 100%;
    z-index: 1;
    /*margin: auto;*/
    margin-bottom: 1rem;
    overflow: auto;
    max-height: 80vh;
}
.datatable__no-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    margin-bottom: 1rem;
}

.datatable__no-scroll table,
.datatable__scroll table {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}
.table-wrap {
    position: relative;
}
.datatable__no-scroll tbody th,
.datatable__scroll tbody th {
    min-width: 100px;
    max-width: 150px;
}
.datatable__scroll tbody td {
    max-width: 100px;
}

.datatablemodal__scroll tbody td {
    min-width: 100px;
    overflow: visible !important;
    white-space: inherit !important;
    text-overflow: unset !important;
}

.datatable__no-scroll tbody td {
    max-width: 100px;
}

.datatable__no-scroll thead th,
.datatable__scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
/* safari and ios need the tfoot itself to be position:sticky also */
.datatable__no-scroll tfoot,
.datatable__no-scroll tfoot th,
.datatable__no-scroll tfoot td,
.datatable__scroll tfoot,
.datatable__scroll tfoot th,
.datatable__scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #f9fafb;
    z-index: 4;
}

.datatable__no-scroll th:first-child,
.datatable__scroll th:first-child {
    background: #f9fafb;
    padding: 0.78571429em 0.78571429em;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
}

.datatable__scroll tbody th:first-child {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
}
.datatable__no-scroll thead th:first-child,
.datatable__no-scroll tfoot th:first-child,
.datatable__scroll thead th:first-child,
.datatable__scroll tfoot th:first-child {
    z-index: 5;
}

.datatable__cell-data-missing {
    background-image: linear-gradient(
        to top right,
        transparent calc(50% - 1px),
        #e0e6eb,
        transparent calc(50% + 1px)
    );
}

.gridcolumn__first-child--sticky {
    min-width: 500px !important;
}

.gridcolumn__first-child--sticky div:first-child {
    position: sticky;
    top: 0;
}

.datatablemodal__grid-nowrap {
    flex-wrap: nowrap !important;
}

.datatable__left-col-hidden {
    display: none !important;
}
