.loading__single-card .ui.placeholder {
  max-width: 100% !important;
  height: calc(100vh - 60px) !important;
}

.loading__content {
  padding: 0em !important;
  overflow: hidden !important;
  height: 100% !important;
}

.loading__content .ui.placeholder.fluid {
  height: 100% !important;
}

@media only screen and (max-width: 767.98px) {
  .ui.cards>.card.loading__multi-card {
    margin: 0 0.2em 1em 0.2em !important;
  }
}
