.thumbnail_container {
    padding-right: 0;
    height: 100%;
}

/* override css from grid framework */
.ui.grid > .column.thumbnail_container {
    padding-right: 0;
}

.dropdown_container {
    padding: 1rem;
    border-bottom: 1px solid #e8e8e8;
    max-height: 67px; /* setting this statically */
}

.thumbnail_gallery {
    padding: 1rem;
    overflow: auto;
    height: calc(100% - 67px); /* basing height based on dropdown_container */
}
