.notification {
  z-index: 9999;
  position: fixed;
  top: 1em;
  right: 1em;
}

.notification__visible {
  pointer-events: auto;
  opacity: 1;
}

.notification__invisible {
  pointer-events: none;
  opacity: 0;
}

.n__container {
  min-width: 22vw;
  max-width: 33vw;
}

.n__container .content .header {
  margin-bottom: 0.25em !important;
}

.n__container .content .header > i.icon {
  font-size: 1em !important;
}

.n__container .content {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

@media only screen and (max-width: 767px) {
  .n__container {
    min-width: unset;
    max-width: 100vw;
  }
}
